/laskarit/viikko2/unicafe/src/__pycache__
/laskarit/viikko2/unicafe/src/tests/__pycache__
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
.pytest_cache/
.coverage
.pylintrc
src/__pycache__/
src/tests/__pycache__/
htmlcov/
